<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get YouTube Comments</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://apis.google.com/js/api.js"></script>
</head>
<body>
    <section class="section section--full">
        <div class="container container--md container--search-input">
            <h1 class="section__title">Get YouTube Comments</h1>
            <p class="section__info">Enter video IDs and we will print the first 20 comments of each video. </p>
            <p class="section__info">If any of the IDs have been submitted in the last 24 hours, we will retrieve the data from our database.</p>
            <p class="section__info">Otherwise we will fetch the information directly from the YouTube API.</p>    
            <form id="video-id-form">
                <div class="all-inputs-container">
                    <div class="input-wrap">
                        <label for="video-id">Video ID</label>
                        <input type="text" id="video-id-0" class="video-input" value="" placeholder="Search for videos...">
                        <button class="button--remove" type="button" style="display:none"></button>
                    </div>
                </div>
                <button class="button button--add" id="add-more" type="button">+ Add more</button>
                <button class="button button--theme" type="submit">Get comments</button>
            </form>
        </div>
        <div class="container container--sm">
            <div class="comments" >
                <h2 style="display: none">
                    Here's what we found
                </h2>
            </div>
        </div>
    </section>
</body>
<script src="script.js"></script>
</html>