:root {
    --theme-bg: #faf6f2;
    --accent: rgb(139, 41, 41);
    --primary-text: #242222;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

section {
    background-color: var(--theme-bg);
}

.section--full {
    min-height: 100vh;
    padding: 4rem 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.container--md {
    max-width: 860px;
}

.container--sm {
    max-width: 576px;
}



h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-weight: 300;
    line-height: 1.45em;
}

button {
    border: none;
    outline: none;
    box-shadow: none;
}

.button {
    padding: 1rem 1.2rem;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button--theme {
    background-color: var(--accent);
    color: white;
    border: 1px solid  var(--accent);
    width: 100%;
    margin-top: 2rem;
}

.button--theme:hover {
    background-color: transparent;
    color: var(--accent);
    
}

.button--add {
    color: white;
    background-color: var(--primary-text);
    border: 1px solid var(--primary-text);

}
.button--add:hover {
    background-color: transparent;
    color: var(--primary-text);
}

.button--remove {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background-color: rgba(139, 41, 41 0.3);
    border-radius: 50%;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.button--remove::after {
    content: "";
    position: absolute;
    background: url("./x-lg.svg") no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button--remove:hover {
    background-color: rgba(139, 41, 41, 0.2);
}

.input-wrap {
    margin-bottom: 1rem;
    position: relative;
    padding: 0 60px;
}

.input-wrap label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    width: 100%;
    display: block;
    text-align: start;
}

.all-inputs-container {
    margin-top: 40px;
}

.input-wrap input{
    padding: 1rem 0.5rem;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgb(169, 164, 164);
}

.container--search-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__title {
    margin-bottom: 2rem;
}

.section__info {
    max-width: 667px;
    margin-bottom: 20px;
}

.section__info:last-of-type {
    margin-bottom: 0;
}

form { 
    width: 100%;
    max-width: 556px;
}

.error-message {
    margin-top: 2rem;
    color: var(--accent);
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.comments {
    padding: 0 15px;
}

.comments h2 {
    text-align: center;
    margin: 82px 0 42px 0;
}

.comments__video-block {
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: -1px 5px 14px 0px rgba(0,0,0,0.19);
    -webkit-box-shadow: -1px 5px 14px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: -1px 5px 14px 0px rgba(0,0,0,0.19);
    margin-bottom: 30px;
}

.comments__video-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.comments__video-title h4 {
    
}

.comments__video-title h6 {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
}

.comments__video-title h4 span {
    color: var(--accent);
}

.list-of-comments li {
    margin-bottom: 20px;
}

.comments__author {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 6px;
}

.comments__comment {
    font-style: italic;
}

/* loder: */

.loader {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 30px auto;
  }
  .loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--primary-text);
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  


